@media(max-width: 1400px) {
    .hero__content__header,
    .hero__content__subheader {
        max-width: 600px;
    }

    .hero__content__header {
        font-size: 36px;
    }

    .hero__content__subheader {
        font-size: 15px;
    }

    .btn--hero {
        width: 280px;
        height: 55px;
        font-size: 16px;
    }

    .header__menu {
        max-width: 600px;
    }

    .header__menu__item {
        font-size: 15px;
    }

    .topBar__right__item > .img {
        width: 12px;
        margin-right: 8px;
    }

    .topBar {
        height: 40px;
    }

    .topBar * {
        font-size: 12px;
    }

    .section__main__content__header {
        font-size: 18px;
    }

    .section__main__content__text {
        font-size: 14px;
    }

    .btn--hero--section {
        font-size: 14px;
    }
}

@media(max-width: 1200px) {
    .section__header--before {
        font-size: 14px;
    }

    .section__header {
        font-size: 26px;
    }

    .btn--dot {
        width: 20px;
        height: 20px;
    }

    .references__item > figure {
        width: 75px;
        height: 75px;
    }

    .references__item__text,
    .references__item__author {
        font-size: 12px;
    }

    .section__offer__item > .img {
        height: 100px;
    }

    .section__offer__item__header {
        margin: 20px auto 10px;
        font-size: 16px;
    }

    .section__offer__item__text,
    .section__offer__item__link {
        font-size: 12px;
    }
}

@media(max-width: 996px) {
    .hero__content {
        align-items: center;
    }

    .hero__content__header,
    .hero__content__subheader {
        text-align: center;
        max-width: 100%;
    }

    .hero__content__header {
        font-size: 21px;
    }

    .hero__content__subheader {
        font-size: 12px;
        margin: 10px auto 15px;
    }

    .btn--hero > .img {
        width: 10px;
        margin-left: 8px;
    }

    .btn--hero {
        width: 100%;
        height: 45px;
        max-width: 300px;
        font-size: 13px;
    }

    .header__menu__item {
        font-size: 13px;
    }

    .topBar__text {
        display: none;
    }

    .topBar > .flex {
        justify-content: center;
    }

    .footer__header,
    .footer__link {
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    .d-mobile {
        display: block !important;
    }

    .d-desktop {
        display: none !important;
    }

    .section {
        margin: 30px auto;
    }

    .references__item > figure {
        margin: auto;
    }

    .section__main__content p {
        font-size: 14px;
    }

    .section__main__list__item::before {
        width: 10px;
        height: 10px;
        background-size: 10px;
        left: -15px;
    }

    .section__main__list {
        margin-left: 15px;
    }

    .section__main__list * {
        font-size: 12px;
    }

    .section__main__content__header--second {
        text-align: left !important;
    }

    .section__main__content__header,
    .section__main__content__text *,
    .section__main__content__text,
    .references__item__author,
    .references__item__text,
    .footer__header,
    .footer__link,
    .section__header--before,
    .section__header {
        text-align: center;
    }

    .section__header {
        margin-bottom: 20px;
    }

    .footer > .flex,
    .section__contact,
    .section__offer,
    .section__main {
        align-items: center;
        flex-direction: column;
    }

    .section__contact > *,
    .section__offer__item,
    .section__main > * {
        width: 100% !important;
    }

    .section__main > figure {
        margin-bottom: 25px;
    }

    .header {
        height: 70px;
    }

    .btn--menu {
        background: transparent;
        border: none;
        outline: none;
        width: 28px;
        transform: translateY(4px);
    }

    .hero__content__subheader {
        line-height: 24px;
    }

    .header__logo {
        width: 140px;
    }

    .topBar {
        height: 30px;
    }

    .topBar__right {
        width: 100%;
        justify-content: space-between;
    }

    .topBar__right__item:first-child {
        margin-right: 20px;
    }

    .topBar * {
        font-size: 11px;
    }

    .contact__form label {
        font-size: 12px;
    }

    .input {
        height: 40px;
    }

    .input--textarea {
        height: 80px;
    }

    .menuMobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        z-index: -3;
        opacity: 0;
        transition: .2s opacity ease-in-out;
    }

    .menuMobile__inner {
        position: relative;
        background: #fff;
        width: 90%;
        height: 100%;
        border-top: 5px solid var(--primary);
        padding: 20px;
        transform: scaleX(0);
        transform-origin: top left;
        transition: .2s transform ease-in-out;
    }

    .mobileMenu__inner > * {
        transition: .2s opacity ease-in-out;
    }

    .btn--closeMenu {
        position: absolute;
        background: transparent;
        color: var(--primary);
        top: 15px;
        right: 20px;
        font-size: 32px;
        font-weight: 700;
        border: none;
        outline: none;
    }

    .menuMobile__header {
        margin: 10px 0 20px;
        font-size: 14px;
    }

    .menuMobile__item {
        width: 100%;
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #CFCFCF;
        font-size: 14px;
        color: var(--dark);
        font-weight: 500;
    }

    .menuMobile__bottom {
        position: absolute;
        bottom: 30px;
        left: 20px;
        width: calc(100% - 40px);
    }

    .menuMobile__bottom__text {
        font-size: 12px;
        padding-bottom: 7px;
        border-bottom: 1px solid #CFCFCF;
        margin-bottom: 15px;
    }

    .menuMobile__bottom__header {
        font-size: 13px;
    }

    .menuMobile__bottom__header:last-of-type {
        margin-top: 10px;
    }

    .menuMobile__bottom__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--dark);
        font-size: 12px;
        padding-top: 6px;
    }

    .menuMobile__bottom__link > .img {
        width: 10px;
        margin-right: 8px;
        filter: brightness(0);
    }
}

@media(max-width: 576px) {

}
